[submodule "module/Nexus-Wrapped-Instance"]
	path = module/Nexus-Wrapped-Instance
	url = https://github.com/TheNexusAvenger/Nexus-Wrapped-Instance.git
[submodule "module/Nexus-Project"]
	path = module/Nexus-Project
	url = https://github.com/TheNexusAvenger/Nexus-Project.git
[submodule "module/Nexus-Instance"]
	path = module/Nexus-Instance
	url = https://github.com/TheNexusAvenger/Nexus-Instance.git
